{
    "presets": [
        "env"
    ],
    "plugins": [
        ["transform-es2015-spread", {
            "loose": true
        }],
        ["transform-object-rest-spread"],
        ["transform-class-properties"]
    ]
}